streamlit
pandas
pytesseract
Pillow
langchain>=0.1.0
langchain-community>=0.0.10
faiss-cpu
ollama
docx2txt
pypdf
unstructured
openpyxl
langchain-ollama
pydantic
fastapi
uvicorn[standard]
python-multipart
Sentence-Transformers
rank_bm25
pymupdf

##ollama pull nomic-embed-text and ollama pull smollm
